region = "eu-central-1"
instance_type = "t4g.micro"
ami_id = "ami-0a628e1e89aaedf80"
key_name = "healthwise-key-name"
openai_api_key = "your_openai_api_key"
tavily_api_key = "your_tavily_api_key"
mongo_uri = "your_mongo_uri"
mongodb_database = "your_mongodb_database_name"
chatbot_password = "your_chatbot_password"
hotspots_password = "your_hotspots_password"